<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN"
"http://www.w3.org/TR/html4/strict.dtd">
<html lang="en">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <title>
      {% block title %}Picked Her Up{% endblock %}
    </title>
    <link type="text/css" rel="stylesheet" href="/stylesheets/main.css" />
    <script type="text/javascript">
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-24537754-1']);
      _gaq.push(['_trackPageview']);

      (function() {
       var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
       ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
       var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
       })();
    </script>
  </head>
  <body>
    <div id="wrap">
      <div id="ad-leaderboard">
        <img src="http://placehold.it/728x90"  alt="Ads go here."/>
      </div>
      <div id="header"><h1>Picked Her Up</h1></div>
      <div id="nav">
        <div id="buttons">
        <ul>
          <li><a href="/">Home</a></li>
          <li><a href="/new">New Story</a></li>
          <li><a href="/">This Week</a></li>
          <li><a href="/">This Month</a></li>
          <li><a href="/random">Random</a></li>
        </ul>
        </div>
        <div id="login">
          <a href="{{ login }}">{{ login_linktext }}</a>
        </div>
      </div>
      <div id="main">
        {% block content %}
        {% endblock %}
      </div>
      <div id="sidebar">
        <h2>Right-hand Column</h2>
        <div id="ad-skyscraper">
          <img src="http://placehold.it/160x600"  alt="Ads go here." />
        </div>
      </div>
      <div id="footer">
        <div id="ad-footer-leaderboard">
          <img src="http://placehold.it/728x90" alt="Ads go here." />
        </div>
        <div id="copyright">
          <p>Copyright 2011, Kong Entertainment</p>
        </div>
      </div>
    </div>
  </body>
</html>
