{% extends "base_generic.html" %}

{% block title %}Picked Her Up | Story Number: {{ story.id }} {% endblock %}

{% block content %}

{% block bonus-content %}{% endblock %}

{% block story %}
  <div class="story">
    <blockquote>{{ story.content|escape }}</blockquote>
  </div>
{% endblock %}

{% block comments %}
Comments Below:
<ul id="comments-list">
{% for comment in comments %}
<li>
  <div class="text">
    <blockquote>{{ comment.content|escape }}</blockquote>
  </div>
  <div class="author">
    {% if comment.author %}
      by <b>{{ comment.author.nickname }}</b>
    {% else %}
      by Anonymous
    {% endif %}
    <div class="timestamp">
      ({{ comment.nicetime }})
    </div>
  </div>
</li>
{% endfor %}
</ul>
{% endblock %}

{% block post-comment %}
<form action="/comment?story_id={{story.id}}" method="post">
  <div><textarea name="content" rows="3" cols="60"></textarea></div>
  <div><input type="submit" value="Post Comment"></div>
</form>
{% endblock %}

<a href="{{ url }}">{{ url_linktext }}</a>

{% endblock %}
