{% extends "base_generic.html" %}

{% block title %}Picked Her Up | Home{% endblock %}

{% block content %}

{% block bonus-content %}{% endblock %}

{% block stories %}
<ul id="stories-list">
{% for story in stories %}
<li>
  <div class="text">
    <blockquote>{{ story.content|escape }}</blockquote>
  </div>
  <div class="author">
    {% if story.author %}
      by <b>{{ story.author.nickname }}</b>
    {% else %}
      by Anonymous
    {% endif %}
    <div class="timestamp">
      ({{ story.nicetime }})
    </div>
  </div>
  <div class="debug">
    <a href="{{ story.comment_url }}">Click Here for Comments </a>
  </div>
</li>
{% endfor %}
</ul>
{% endblock %}

<a href="{{ url }}">{{ url_linktext }}</a>

{% endblock %}
